## ==============================================================================
## Literals 文字表达式
## ==============================================================================


## 声明字符串
## -------------------------------------------------------------------------------
{{ "hello, world" | title }}


## 数字运算
## -------------------------------------------------------------------------------
{{ 42 / 22.35 }}


## 创建list集合
## -------------------------------------------------------------------------------
{{ [1, 2, 3] | length }}

<ul>
    {% for href, caption in [('index.html', 'Index'), ('about.html', 'About'),
    ('downloads.html', 'Downloads')] %}
    <li><a href="{{ href }}">{{ caption }}</a></li>
    {% endfor %}
</ul>


## 创建 dict
## -------------------------------------------------------------------------------
{% for name, age in [('jack', 55)] %}
    name: {{ name }}, age: {{ age }}
{% endfor %}


## 创建 tuple
## -------------------------------------------------------------------------------
{% for item in {'dict': 'of', 'key': 'and', 'value': 'pairs'}.items() %}
    item: {{ item | safe }}
{% endfor %}


## 真假，Jinja2 支持 true/false/none 小写形式
## -------------------------------------------------------------------------------
{{ true }} - {{ True }}
{{ false }} - {{ False }}
{{ none }} - {{ None }}